body{
   
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    color: white;
   
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.select{
    width: 20vw;
    height: 7vh;
    text-align:start;
    border-radius: 5px;
    font-size:20px;
    padding-left: 20px;
    

}

.profile{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 20px;
    font-size: 15px;
    gap: 0px;
    background-color: gainsboro;
}

.profile p{
    margin-bottom:10px ;
}

.ab{
    width: 8%;
}

.userall {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.posts {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: start;
    /* flex-wrap: wrap; */
    gap: 2rem;
   
}

.comments{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}



.img{
    grid-column: span 1;
    
}

.abc{
    width: 68%;
    height: 35vh;
    
  
}

.postbody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partpost{
    
    display: flex;
    flex-direction: column;
    margin:0;
    margin-left: -3rem;
}

.head{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footicons{
    display: flex;
    gap: 10px;

}